body {
    background-color: #0f100e !important;
  }

.container {
    padding-top: 3rem;
}

.container .search-bar {
    border-radius: 7rem;
    background-color: #eeecf0;
}

.side-bar {
    height: 100vh;
    width: 290px;
    backdrop-filter: blur(30px);
    margin: 0;
    position: fixed;
    z-index: 2;
    overflow-y: auto;
    background: #000000, 0.1;
    transition: left 0.3s ease;
    left: 0px;
}

.side-bar .menu-btn {
    display: flex;
    justify-content: end;
    background: none;
    color: #b04925 !important;
    padding: 15px 15px;
    font-size: 1.5rem;
    cursor: pointer;
}

.side-bar .menu .item {
    position: relative;
    cursor: pointer;
}

.side-bar .menu .item a {
    color: #b04925 !important;
    text-decoration: none;
    display: block;
    padding: 5px 30px;
    line-height: 60px;
}

.side-bar .menu .item a:hover {
    background: #b04925;
    color: #0f100e !important;
    transition: 0.5s ease;
}

.side-bar .menu .item i {
    margin-right: 15px;
}

.side-bar .menu {
    width: 100%;
    margin-top: 80px;
}

.card img {
    height: 30rem;
    object-fit: cover; 
    border-radius: 1rem 1rem;
}

.card {
    height: 100% !important;
    background: none !important;
    border: none !important;
    margin: 0 20px 0 20px;
}

.row {
    margin: 0 45px 0 45px !important;
}

.col-3 {
    margin-bottom: 100px !important;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
    color: white;
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: 1rem 1rem;
  }

.card:hover .card-overlay {
opacity: 1;
}